# Establecer el repositorio CRAN de Chile
local({
  r <- getOption("repos")
  r["CRAN"] <- "https://cran.dcc.uchile.cl/"
  options(repos = r)
})

if(!require(tidyverse)){install.packages("tidyverse")}
if(!require(rmarkdown)){install.packages("rmarkdown")}
if(!require(knitr)){install.packages("knitr")}
